.form {
  color: @dark-gray;

  p {
    .font-style();
  }
}

.form__review-block {
  p {
    .font-style();
  }

  h1 {
    .font-style();
    color: @pink;
  }

  span {
    .font-style();
    color: @pink;
  }

  textarea {
    .font-style(18px);
    color: @dark-gray;
  }

  button {
    .font-style(18px; 700; 30px);
    color: @white;
  }
}

.form__fullname-block {
  label {
    .font-style();
    color: @pink;
  }

  input {
    .font-style(18px);
    color: @dark-gray;
  }
}

.form__achievs-block {
  h1 {
    .font-style(18px; 400; 18px);
    color: @pink;
  }

  label {
    .font-style(18px);
    color: @dark-gray;
  }
}

.form__contacts-block {
  input {
    .font-style(18px);
    color: @dark-gray;
  }

  label {
    .font-style(14px; 400; 18px);
    color: @pink;
  }
}

.form__platform-block {
  h1 {
    .font-style(14px; 400; 18px);
    color: @pink;
  }

  label {
    .font-style(18px);
    color: @dark-gray;
  }
}
