.gallery {
  background-color: @white;
}

.gallery__list {
  .reset-list();
}

.gallery__info-block {
  p {
    .font-style();
  }
}

.gallery__author-block {
  background-color: @white-gray;
}

.gallery__author-name {
  .font-style(14px; 700);
}

.gallery__timepost {
  .font-style(12px; 300);
}

.gallery__author-post {
  .font-style(14px);
}

.gallery__like-block {
  .font-style(12px; 400; 24px);
  color: @pink;
  text-transform: uppercase;
}
