.main-nav {
  display: flex;
  .font-style(18px; 700; 32px);

  a {
    color: @white;
    text-decoration: none;
  }
}

.main-nav__toggle {
  margin-left: 70px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  .reset-list();
}

.site-list__item {
  display: block;
  text-align: center;
  border-bottom: 1px solid @black;
  border-top: 1px solid @gray-blue;
  background-color: @dark-gray;
}
