.platforms {
  .font-style(14px; 300; 24px);
  background-color: @dark-blue;
  color: @white;

  a {
    color: @white;
    text-decoration: none;
  }
}

.platforms__list {
  .reset-list();
}

.platforms__btn-download {
  .font-style(18px; 700; 18px);
}
