.platforms {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  background-color: @dark-blue;
  color: @white;
  & a {
    color: @white;
    text-decoration: none;
  }
  &__list {
    list-style: none;
  }
  &__btn-download {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }
}
