.popup {
  background-color: @white;

  h1 {
    .font-style(18px; 700);
    color: @black;
  }

  p {
    .font-style(14px; 400);
    color: @dark-gray;
  }

  button {
    .font-style(18px; 700; 30px);
    background-color: @green;
    color: @white;
  }
}

.popup__btn-wrapper {
  background-color: @white-gray;

  button {
    .font-style(18px; 700; 30px);
    background-color: @green;
    color: @white;
  }
}

