.popup {
  background-color: @white;
}

.popup h1 {
  font-size: 18px;
  font-weight: 700;
  color: @black;
}
.popup p {
  font-size: 14px;
  font-weight: 400;
  color: @dark-gray;
}
.popup button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  background-color: @green;
  color: @white;
}
.popup__btn-wrapper {
  background-color: @white-gray;
}
.popup__btn-wrapper button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  background-color: @green;
  color: @white;
}
