.pricelist {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  background-color: @white-gray;
  color: @dark-gray;
  &__list, &__submenu-list {
    list-style: none;
  }
  & a {
    text-decoration: none;
  }
  &__submenu-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    background-color: @dark-gray;
    & a {
      color: @white;
    }
    & a span {
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}
