@gray: #e9ebec;
@foggy-gray: #bec2c7;
@light-gray: #f2f2f2;
@pink: #d22856;
@dark-blue: #1d2631;
@white: #ffffff;
@gray-blue: #485461;
@green: #2aab6d;
@light-green: #1c9b5e;

@black: #000000;
@dark-gray: #283645;
@dirt-gray: #e7e7e7;
@full-gray: #7e868f;
@yes: #3dc644;
@no: #f25b26;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@tablet-retina: ~"(min-width: 660px) and (min-resolution: 1.5dppx), (min-width: 660px) and (min-resolution: 144dpi)";
@desktop-retina: ~"(min-width: 960px) and (min-resolution: 1.5dppx), (min-width: 960px) and (min-resolution: 144dpi)";
